body {
    margin: 0;
}
.a-football * {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.a-football {
    color: #333;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
}
.a-football a {
    cursor: default;
}
.a-football .a_container {
    min-width: 960px;
    margin: 0 auto;
    box-sizing: border-box;
}

.a-football .a_content {
    padding: 5px 10px;
    box-sizing: border-box;
    max-width: 1160px;
    margin: 0 auto;
}

.a-football a {
    color: inherit;
    text-decoration: none;
}
.a-football .rel {
    position: relative;
}

.a-football .noline-hover:hover {
    border-bottom: 1px solid transparent !important;
}

.a-football .main-bg {
    display: block;
    position: relative;
    background: url("src/main.jpg") no-repeat center;
    height: 671px;
    text-align: center;
}
.a-football .showable-items {
    display: none;
}
.main-bg__image {
    width: 960px;
    height: 671px;
    position: relative;
    margin: auto;
}

.main-bg__image img {
    position: absolute;
    left: -250px;
    top: 0;
}

.a-football .main-sticker {
    font-size: 18px;
    font-style: italic;
    position: absolute;
}

.a-football .sticker-stad {
    top: 14%;
    text-align: left;
    right: 0;
}

.a-football .sticker-hifi {
    top: 43%;
    text-align: right;
    right: 0;
}

.main-bg__button {
    position: absolute;
    left: 50%;
    bottom: 15px;
    padding: 0 35px!important;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}
.a-football .sp.navy-arrow {
    width: 18px;
    height: 7px;
    background-position: 0 -100px;
}
.a-football .sp.navy-home {
    width: 11px;
    height: 10px;
    background-position: -21px -100px;
}
.a-football .page-content {
    width: 80%;
    width: calc(100% - 200px);
}
.a-football .sales-content {
    width: 100%;
}
.a-football .hidden {
    display: none;
}
.a-football .sales-active li,
.a-football .sales-finished li {
    float: left;
    display: block;
    width: 49%;
    width: calc(100% / 2 - 10px);
    margin-bottom: 20px;
}
.a-football .sales-active li:nth-child(2n),
.a-football .sales-finished li:nth-child(2n) {
    margin-left: 2%;
    margin-left: calc(20px);
}
.a-football .sales-active a,
.a-football .sales-finished a {
    display: block;
    height: 144px;
    background: no-repeat center;
    border-radius: 6px;
    max-width: 444px;
}
.a-football .sales-label {
    position: absolute;
    top: 65%;
    left: 0;
    padding: 0 10px;
    line-height: 20px;
    height: 20px;
    display: inline-block;
    border-radius: 0 10px 10px 0;
    font-size: 13px;
}
.a-football .sales-label.active {
    background-color: #ffc302;
}
.a-football .sales-label.finished {
    background-color: #ccc;
}
.a-football .sales-label.cont {
    background-color: #9c0;
}
.a-football .sales-list li {
    margin-bottom: 5px;
    font-size: 16px;
}
.a-football .sales-list span.link {
    font-size: 16px;
}
.a-football .sales-list span {
    font-size: 14px;
}
.a-football .sales-list .border {
    display: inline-block;
    width: 2px;
    height: 20px;
    vertical-align: middle;
    margin: 0 5px;
}
.a-football .sales-list li.active .border {
    background-color: #ffc302;
}
.a-football .sales-list li.finished .border {
    background-color: #ccc;
}
.a-football .sales-list li.cont .border {
    background-color: #9c0;
}
.a-football .bottom-shadow:before,
.a-football .bottom-shadow:after {
    /*background-image: url("src/sprite.png");*/
}
.a-football .bottom-shadow:before,
.a-football .bottom-shadow:after {
    position: absolute;
    height: 11px;
    bottom: -11px;
    background-position: 0 -500px;
    content: "";
}
.a-football .bottom-shadow:before,
.a-football .top-shadow:before {
    left: 0;
    right: 45px;
}
.a-football .bottom-shadow:after,
.a-football .top-shadow:after {
    width: 45px;
    right: 0;
    background-position: -1955px -500px;
}
.a-football .link {
    cursor: pointer;
    color: #333;
}
.a-football .underline-link {
    text-decoration: none;
    border-bottom: 1px solid;
    cursor: pointer;
}
.a-football .underline-link.fever-line:hover {
    border-bottom-style: solid;
}
.a-football .dotted-link,
.a-football .noline-link {
    text-decoration: none;
    border-bottom-width: 1px;
}
.a-football .dotted-link {
    color: inherit;
    border-bottom-style: dotted;
    cursor: pointer;
}
.a-football .bl {
    color: #39c;
}
.a-football .bl-hover:hover {
    color: #39c;
}
.a-football .bl-hover:hover {
    color: #39c;
}

.a-football .green-hover:hover {
    color: #093;
}

.a-football .line-gold-hover:hover {
    border-color: #ffc302;
}


.a-football .noline-link:hover {
    text-decoration: underline;
}
.a-football .dotted-link.bl:hover {
    border-bottom-style: none;
}
.a-football .bl:hover {
    color: #39c;
}
.a-football .flt-r {
    float: right;
}
.a-football .flt-l {
    float: left;
}
.a-football ul.list-none {
    list-style: none;
}
.a-football .clearfix:after {
    content: '.';
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.a-football .sinus-wrap {
    /*overflow: hidden;*/
}
.a-football .sinus {
    margin: 10px 0;
    display: block;
    height: 9px;
    background: url('src/wave_border.png') 0 -9px;
}
.a-football .sinus.sinus-gold {
    background-position: 0 0;
}

.a-football .f-head {
    margin: 40px 0 25px;
    font-size: 44px;
    text-align: center;
}
.a-football .size-list {
    display: inline-block;
}
.a-football .f-size {
    font-size: 0;
    text-align: center;
    margin-bottom: 40px;
}
.a-football .f-size span, .a-football .f-size li {
    font-size: 24px;
    display: inline-block;
    margin-right: 12px;
}
.a-football .f-size li {
    width: 48px;
    height: 48px;
    line-height: 46px;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    border-radius: 24px;
    background-color: #fff;
    border: solid 2px #ffc302;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
}
.a-football .f-size li.selected {
    background-color: #ffc302;
}
.a-football .button {
    padding: 0 10px;
    height: 48px;
    line-height: 48px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid;
    font-size: 27px;
    cursor: pointer;
    outline: none;
    display: inline-block;
    box-sizing: border-box;
}

.a-football .button-gold {
    background-color: #ffc302;
    border-color: #efb700;
    text-shadow: 0 1px rgba(255, 255, 255, .4);
    color: #000;
}
.a-football .button-sm {
    height: 24px!important;
    line-height: 24px!important;
    border-radius: 4px!important;
}

.a-football .button-gold:hover {
    background-color: #ffd10a;
}
.a-football .button-gold:active {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .2);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .2);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);
}

.a-football .add-item {
    display: block;
    float: left;
    position: relative;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 5px;
    /*width: 30%;*/
    /*width: calc((100% - 80px) / 3);*/
    width: 285px;
    overflow: hidden;
}

.a-football .add-item:not(:nth-child(3n)){
    margin-right: 4%;
    margin-right: calc((100% - 3 * 285px) / 2);
}
.a-football .add-item-blind {
    position: absolute;
    left: 57%;
    top: 0;
    text-align: right;
    padding: 0 5px 0 20px;
    width: 43%;
    height: 195px;
}

.a-football .add-item-blind-bg {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    background-color: #fff;
    opacity: .9;
    box-shadow: -10px 0 10px -10px rgba(0,0,0,0.3);
    -webkit-transition: left 1s linear;
    -moz-transition: left .1s linear;
    -o-transition: left .1s linear;
    -ms-transition: left .1s linear;
    transition: left .1s linear;
}
.a-football .add-item-blind:hover .add-item-blind-bg {
    left: 10px;
}
.a-football .add-item-blind-label {
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    z-index: 2;
    position: relative;
}
.a-football .add-item img {
    margin-bottom: 10px;
}
.a-football .add-item-desc {
    font-size: 16px;
    margin-bottom: 15px;
}
.a-football .add-item-price {

}
.a-football .add-item .button.button-sm {
    font-size: 13px!important;

}
.a-football .add-item-model {
    font-weight: bold;
}
.a-football .item-badge {
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
    line-height: 80px;
    font-size: 44px;
    text-align: center;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    background-color: #ffc302;
    color: #ffffff;
}
@media screen and (max-width: 1100px) {
    .a-football .item-badge{
        -webkit-transform: translate(-20%, 0);
        -moz-transform: translate(-20%, 0);
        -ms-transform: translate(-20%, 0);
        -o-transform: translate(-20%, 0);
        transform: translate(-20%, 0);
        top: -30px;
        left: 0;
    }
    .a-football .item-pic {
        margin-left: 0;
    }
}
@media screen and (min-width: 1101px) and (max-width: 1200px) {
    .a-football .item-badge {
        top: 0;
        left: 0;
    }
    .a-football .item-pic {
        margin-left: 100px;
    }
}
@media screen and (min-width: 1201px) {
    .a-football .item-pic {
        margin-left: 140px;
    }
    .a-football .item-badge {
        top: 0;
        left: 0;
    }
}
.a-football .item-fline {
    margin-bottom: 10px;
}
.a-football .item-sline {
    padding-bottom: 20px;
}
.a-football .item-desc {
    width: 65%;
    width: calc(100% - 320px);
}
.a-football .item-view {
    width: 33%;
    width: calc(320px);
    bottom: 20px;
    right: 0;
    position: absolute;
}
.a-football .item-card {
    text-align: center;
    width: 30%;
    width: calc(290px);
    margin-left: 1%;
    margin-left: calc(20px);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: solid 1px #ffc302;
    padding: 30px 25px;
}
.a-football .item-pic {
    /*width: 66%;*/
    /*width: calc(100% - 370px);*/
    max-width: 615px;
    margin-top: 10px;
}

.a-football .item-desc__head-little, .a-football .card-price {
    font-weight: bold;
}

.a-football .item-desc__head {
    font-size: 24px;
}
.a-football .item-desc__article, .a-football .item-desc__head-little {
    font-size: 16px;
}
.a-football .card-model {
    font-size: 24px;
    border-color: #ffc302;
}
.a-football .add-item-model {
    border-color: #ffc302;
}
.a-football .card-model:hover, .a-football .add-item-model:hover {
    color: #093;
}
.a-football .card__in-present {
    color: #093;
}
.a-football .card-plus {
    width: 4px;
    height: 16px;
    background-color: #ffc302;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    margin: 3px 0 5px;
}
.a-football .card-plus:before {
    position: absolute;
    height: 4px;
    width: 16px;
    left: -6px;
    top: 6px;
    content: "";
    background-color: #ffc302;
}
.a-football .card-price {
    font-size: 24px;
    font-weight: bold;
}
.a-football .card__in-present {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 10px;
}
.a-football .card__present-model {
    font-size: 24px;
}
.a-football .card-model, .a-football .card__present-model {
    margin-bottom: 15px;
}